In [1]:
!pip install pandas
import pandas as pd

Requirement already satisfied: pandas in c:\users\liamb\appdata\local\programs\python\python39\lib\site-packages (1.4.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\liamb\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\liamb\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2022.2.1)
Requirement already satisfied: numpy>=1.18.5 in c:\users\liamb\appdata\local\programs\python\python39\lib\site-packages (from pandas) (1.23.2)
Requirement already satisfied: six>=1.5 in c:\users\liamb\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
df = pd.read_csv('ingredients.csv') # bringing in 'ingredients.csv' for inspection
df.shape 
df.dtypes # appear correctly formatted
df.sample(50)

,IngredientName,IngredientShortDescription,IngredientId,PortionUOMTypeId
164,BBQ Sauce Packet ...,BBQ Sauce Packet,165,NaN
175,"Smoothie, Non Fat Vanilla Yogurt ...","Smoothie, Non Fat Vanill",176,15.0
638,"Cleaning, pads, scrubbing ...","Cleanin, pads, scrubbing",672,11.0
325,Cold Cut Combo - Metric ...,Cold Cut Combo - Metric,326,13.0
246,"Register Roll, Bond ...","Register Roll, Bond",247,11.0
278,Meatballs - Metric ...,Meatballs - Metric,279,13.0
356,"Smoothie, Mocha Concentrate ...",Smoothie Mocha Concentrate,357,15.0
88,"Seafood Sensation, Seafood & Crab Blend ...","Seafood Sensation, Seafo",89,15.0
13,"Cheese, Sliced cheese ...","Cheese, Sliced cheese",14,15.0
523,"Sauce, Garlic ...","Sauce, Garlic",525,13.0
446,"Pepper, Black, Bulk - Metric ...","Pepper, Black, Bulk - Metric",447,13.0
80,"Juice, Bottle ...","Juice, Bottle",81,11.0
204,House Sandwich Sauce - Metric ...,House Sandwich Sauce - M,205,15.0
396,"Walmart, Popcorn kit 1.4 oz ...","Walmart, Popcorn kit 1.4",397,11.0
89,"Spinach, Baby Spinach ...","Spinach, Baby Spinach",90,15.0
649,"Vegan, Fire Roasted Tomato Sauce ...","Vegan, Fire Roasted Tomato Sauce",693,15.0
84,Salad Dressing Packet ...,Salad Dressing Packet,85,11.0
327,"Egg, Hard Cooked ...","Egg, Hard Cooked",328,11.0
39,Teriyaki Glaze ...,"Teriyaki Glaze, fat free",40,15.0
87,"Italian, Zesty Italian Sauce ...","Italian, Zesty Italian S",88,15.0
440,"Water, Bottle 400ml ...","Water, Bottle 400ml",441,11.0
20,Apples ...,Apple slices,21,11.0
42,Vinegar ...,"Vinegar, Red Wine",43,15.0
28,Bottled Beverages ...,Bottled Beverages,29,11.0
150,"Box, Subway To Go! Meal ...","Box, Subway To Go! Meal",151,11.0
198,"Cup, Clear 7 oz. ...","Cup, Clear 7 oz.",199,11.0
564,Poblano Lime Glaze ...,Poblano Lime Glaze,566,15.0
289,Onions - Metric ...,Onions - Metric,290,13.0
67,"Cup, Hot Cup, 16 oz. ...","Cup, Hot Cup, 16 oz",68,11.0
172,"Chicken, Oven Crisp ...","Chicken, Oven Crisp",173,15.0
59,Chicken Salad ...,Chicken Salad,60,15.0
162,"Beverage, Juice Box ...",Juice Box,163,11.0
433,Promotional Cup - 32 oz. ...,Promotional Cup - 32 oz.,434,11.0
229,"Cleaning, Deck Brush ...","Cleaning, Deck Brush",230,11.0
579,"Smoothie, Banana, nontrad ...","Smoothie, Banana, nontrad",581,15.0
618,D&W Ham ...,D&W Ham,632,15.0
574,"Smoothie cup 32 oz., nontrad ...","Smoothie cup 32 oz., nontrad",576,11.0
509,"Tray, Catering, 18 inch ...","Tray, Catering, 18 inch",511,11.0
91,Marinara Sauce ...,Marinara Sauce,92,15.0
168,Green Chile ...,Green Chile,169,15.0
141,"Board, 3 foot sub ...",Board 3 foot sub,142,11.0
170,"Box, Specialty- Large ...","Box, Specialty - Large",171,11.0
613,"Flavoured Tea, packets ...","Flavoured Tea, packets",622,11.0
123,"Cilantro, fresh ...","Cilantro, fresh",124,15.0
18,Jalapeno Peppers ...,Jalapeno Peppers,19,15.0
65,"Egg, breakfast precooked ...","Egg, breakfast precooked",66,11.0
358,"Olives, Green Olives Sliced ...","Olives, Green Olives Sliced",359,NaN
128,Balsamic Vinegar ...,Balsamic Vinegar,129,NaN
443,"Bottle, Sports Drink ...","Bottle, Sports Drink",444,11.0
531,"Produce, cole slaw ...","Produce, cole slaw",533,15.0

In [3]:
df
df.head()
df.duplicated().value_counts() # no duplicates but there is rows marked for deletion. I will keep included in data set to maintain relationships between files/tables

False    673
dtype: int64

In [4]:
df.isna().sum() # NaN values present, 36 total in PortionUOMTypeId column

for index, row in df.iterrows():
    if row.isna().any():
        print(f"Row {index} has NaN values:")
        print(row) 

# appears there are ingredidents that are arbitrary in portion amount and so have decided to add an additional entry to the portion_uom_type.csv with id of 16 with PortionTypeDesciption 'Unknown'

df['PortionUOMTypeId'].fillna(16, inplace=True)

df.isna().sum() # NaN values now replaced with new ID that will be created for corresponding file to ensure relationships
df.to_csv('ingredients.csv', index=False)

Row 40 has NaN values:
IngredientName                DELETE Olive Oil Blend                        ...
IngredientShortDescription         DELETE Olive Oil Blend
IngredientId                                                                 41
PortionUOMTypeId                                                            NaN
Name: 40, dtype: object
Row 47 has NaN values:
IngredientName                Bagels                                        ...
IngredientShortDescription         Bagels
IngredientId                                                                 48
PortionUOMTypeId                                                            NaN
Name: 47, dtype: object
Row 54 has NaN values:
IngredientName                Cinnamon Rolls                                ...
IngredientShortDescription         Cinnamon Rolls
IngredientId                                                                 55
PortionUOMTypeId                                                            NaN
Name: 54, dtype: object
Row 63 has NaN values:
IngredientName                Crackers                                      ...
IngredientShortDescription         Crackers
IngredientId                                                                 64
PortionUOMTypeId                                                            NaN
Name: 63, dtype: object
Row 64 has NaN values:
IngredientName                Hot Drink Cups, 12 oz.                        ...
IngredientShortDescription         Hot Drink Cups, 12 oz.
IngredientId                                                                 65
PortionUOMTypeId                                                            NaN
Name: 64, dtype: object
Row 74 has NaN values:
IngredientName                Fruit cup                                     ...
IngredientShortDescription         Fruit cup
IngredientId                                                                 75
PortionUOMTypeId                                                            NaN
Name: 74, dtype: object
Row 76 has NaN values:
IngredientName                Crushed Red Pepper                            ...
IngredientShortDescription         Crushed Red Pepper
IngredientId                                                                 77
PortionUOMTypeId                                                            NaN
Name: 76, dtype: object
Row 77 has NaN values:
IngredientName                Fish Patty, Breaded                           ...
IngredientShortDescription         Fish Patty, Breaded
IngredientId                                                                 78
PortionUOMTypeId                                                            NaN
Name: 77, dtype: object
Row 82 has NaN values:
IngredientName                Pepperoncini                                  ...
IngredientShortDescription         Pepperoncini
IngredientId                                                                 83
PortionUOMTypeId                                                            NaN
Name: 82, dtype: object
Row 101 has NaN values:
IngredientName                Lid, cold cup 44 oz.                          ...
IngredientShortDescription         Lid, cold cup 44 oz.
IngredientId                                                                102
PortionUOMTypeId                                                            NaN
Name: 101, dtype: object
Row 120 has NaN values:
IngredientName                Olive Oil Blend                               ...
IngredientShortDescription         Olive Oil Blend
IngredientId                                                                121
PortionUOMTypeId                                                            NaN
Name: 120, dtype: object
Row 127 has NaN values:
IngredientName                Green Chili, Roasted                          ...
IngredientShortDescription         Green Chili, Roasted
IngredientId                                                                128
PortionUOMTypeId                                                            NaN
Name: 127, dtype: object
Row 128 has NaN values:
IngredientName                Balsamic Vinegar                              ...
IngredientShortDescription         Balsamic Vinegar
IngredientId                                                                129
PortionUOMTypeId                                                            NaN
Name: 128, dtype: object
Row 129 has NaN values:
IngredientName                Iced Tea, Fresh Brewed                        ...
IngredientShortDescription         Iced Tea, Fresh Brewed
IngredientId                                                                130
PortionUOMTypeId                                                            NaN
Name: 129, dtype: object
Row 132 has NaN values:
IngredientName                DELETE - Coffee                               ...
IngredientShortDescription         DELETE - Coffee
IngredientId                                                                133
PortionUOMTypeId                                                            NaN
Name: 132, dtype: object
Row 140 has NaN values:
IngredientName                Bag, Catering Bag                             ...
IngredientShortDescription         Bag, Catering Bag
IngredientId                                                                141
PortionUOMTypeId                                                            NaN
Name: 140, dtype: object
Row 164 has NaN values:
IngredientName                BBQ Sauce Packet                              ...
IngredientShortDescription         BBQ Sauce Packet
IngredientId                                                                165
PortionUOMTypeId                                                            NaN
Name: 164, dtype: object
Row 205 has NaN values:
IngredientName                Greek Vinaigrette Sauce Dressing - Metric     ...
IngredientShortDescription         Greek Vin. Sauce Dressin
IngredientId                                                                206
PortionUOMTypeId                                                            NaN
Name: 205, dtype: object
Row 212 has NaN values:
IngredientName                Distributor Credit / Discount                 ...
IngredientShortDescription         Distributor Credit / Dis
IngredientId                                                                213
PortionUOMTypeId                                                            NaN
Name: 212, dtype: object
Row 219 has NaN values:
IngredientName                Apple Snapz                                   ...
IngredientShortDescription         Apple Snapz
IngredientId                                                                220
PortionUOMTypeId                                                            NaN
Name: 219, dtype: object
Row 253 has NaN values:
IngredientName                Cleaner, Sanitizer                            ...
IngredientShortDescription         Cleaner, Sanitizer liqui
IngredientId                                                                254
PortionUOMTypeId                                                            NaN
Name: 253, dtype: object
Row 255 has NaN values:
IngredientName                Paper Products                                ...
IngredientShortDescription         Paper Products
IngredientId                                                                256
PortionUOMTypeId                                                            NaN
Name: 255, dtype: object
Row 302 has NaN values:
IngredientName                BBQ Rib Patty - Metric                        ...
IngredientShortDescription         BBQ Rib Patty - Metric
IngredientId                                                                303
PortionUOMTypeId                                                            NaN
Name: 302, dtype: object
Row 304 has NaN values:
IngredientName                Burger Patty - Metric                         ...
IngredientShortDescription         Burger Patty - Metric
IngredientId                                                                305
PortionUOMTypeId                                                            NaN
Name: 304, dtype: object
Row 306 has NaN values:
IngredientName                BBQ Chicken - Metric                          ...
IngredientShortDescription         BBQ Chicken - Metric
IngredientId                                                                307
PortionUOMTypeId                                                            NaN
Name: 306, dtype: object
Row 308 has NaN values:
IngredientName                Chicken Salad - Metric                        ...
IngredientShortDescription         Chicken Salad - Metric
IngredientId                                                                309
PortionUOMTypeId                                                            NaN
Name: 308, dtype: object
Row 338 has NaN values:
IngredientName                Chicken, Sliced Chicken  - Metric             ...
IngredientShortDescription         Chicken, Sliced Chicken
IngredientId                                                                339
PortionUOMTypeId                                                            NaN
Name: 338, dtype: object
Row 354 has NaN values:
IngredientName                Egg, Whole Sanitized                          ...
IngredientShortDescription         Egg, Whole Sanitized
IngredientId                                                                355
PortionUOMTypeId                                                            NaN
Name: 354, dtype: object
Row 358 has NaN values:
IngredientName                Olives, Green Olives Sliced                   ...
IngredientShortDescription         Olives, Green Olives Sliced
IngredientId                                                                359
PortionUOMTypeId                                                            NaN
Name: 358, dtype: object
Row 366 has NaN values:
IngredientName                Sauce, Creamy Pesto                           ...
IngredientShortDescription         Sauce, Creamy Pesto
IngredientId                                                                367
PortionUOMTypeId                                                            NaN
Name: 366, dtype: object
Row 398 has NaN values:
IngredientName                Bag, Paper Sub Bag                            ...
IngredientShortDescription         Bag, Paper Sub Bag
IngredientId                                                                399
PortionUOMTypeId                                                            NaN
Name: 398, dtype: object
Row 406 has NaN values:
IngredientName                Sauce, Sweet Chili - Metric                   ...
IngredientShortDescription         Sauce, Sweet Chili - Metric
IngredientId                                                                407
PortionUOMTypeId                                                            NaN
Name: 406, dtype: object
Row 410 has NaN values:
IngredientName                Egg, Poached                                  ...
IngredientShortDescription         Egg, Poached
IngredientId                                                                411
PortionUOMTypeId                                                            NaN
Name: 410, dtype: object
Row 570 has NaN values:
IngredientName                Smokey BBQ Sauce                              ...
IngredientShortDescription         Smokey BBQ Sauce
IngredientId                                                                572
PortionUOMTypeId                                                            NaN
Name: 570, dtype: object
Row 632 has NaN values:
IngredientName                Premium Bottle Beverage                       ...
IngredientShortDescription         Premium Bottle Beverage
IngredientId                                                                660
PortionUOMTypeId                                                            NaN
Name: 632, dtype: object
Row 634 has NaN values:
IngredientName                coriander - metric                            ...
IngredientShortDescription         coriander - metric
IngredientId                                                                664
PortionUOMTypeId                                                            NaN
Name: 634, dtype: object

In [7]:
df = pd.read_csv('portion_uom_types.csv') # bringing in 'portion_uom_types.csv' for inspection
df.shape
df

df.loc[len(df.index)] = ['Unknown', 16] # added extra entry so that ingredients can relate fully with current file
df.to_csv('portion_uom_types.csv', index=False)

In [8]:
df.dtypes # dtypes appear correctly formatted

PortionTypeDescription    object
PortionUOMTypeId           int64
dtype: object

In [64]:
df = pd.read_csv('menu_items.csv') # bringing in 'menu_items.csv' for inspection
df.shape
df.dtypes # data types appear to be formatted correctly
df.sample(50)
df.duplicated().value_counts() # no duplicates
df.isna().sum() # no null values in file but there do appears to be #NAME? which is likely an error from a formula used to create the name in Excel by whoever created file in dataset
        
df = df.drop(columns=['MenuItemName'])

for index, row in df.iterrows():
    if (row == '#NAME?').any():
        print(f"Row {index} has '#NAME?' as name on menu:")
        print(row) # clearly a lot of the menu_items don't have a useful name

df # df now only contains descriptions for the different menu items which are all meaningful

df.to_csv('menu_items.csv', index=False)

In [77]:
df = pd.read_csv('menuitem.csv') # bringing in 'menuitem.csv' for inspection
df.shape
df.dtypes # data types appeear correctly formatted
df.duplicated().value_counts() # no duplicates
df.isna().sum() # no null values
df.sample(10) # file does not appear to need to be altered

,MD5KEY_MENUITEM,MD5KEY_ORDERSALE,CategoryDescription,DepartmentDescription,Description,StoreNumber,TaxInclusiveAmount,TaxAmount,AdjustedPrice,DiscountAmount,Price,Quantity,PLU,Id,date
18381,86D62459EA77DCCE10985401E78E3928,F5F451C820B53C825269AA6369076057,Cookies,Cookies,Cookie,12631,0,0.0852,0.96,0.14,0.55,2,321000101,276,15-03-31
35448,AB0BA559A019C56158ABB93BB0F3C454,48C5DB8A52EA893DF6F7764A859D040D,6 Inch,6 Inch Sub,Rst Chicken 6 inch,4904,0,0.3969,4.67,0.18,4.85,1,121000010,81,15-04-17
68152,45532FF6F5BE6D30A43201D80B0CAAA9,29B4DC0C742C35242E58F16E9B3814B2,Fountain,Fountain Drink 21 oz.,21oz Fountain Drink,12631,0,0.1224,1.38,0.22,1.60,1,212000126,280,15-05-21
5958,4B7E9C7E788F8EFC62DA0BCC38F070C4,2D0F9F8995BB769E9ACAF69C2A63D7DF,Add On,Single Portion,Avocado Portn,4904,0,0.1275,1.50,0.00,0.75,2,173000062,958,15-03-17
38224,CF8EE7BD0ACFAF66B93144AAD6021A2A,D0FDD8E21453CBE517F965CDC718EB94,Cookies,Cookies,3 Cookies,4904,0,0.1360,1.60,0.00,1.60,1,321000177,340,15-04-20
19327,653C3D9A2153D6C2B0EDAAF9205D8BE9,8BE1EC50C8C35E5E983124C4A01A7665,6 Inch,6 Inch Sub,Turkey 6 inch,12631,0,0.3771,4.25,0.00,4.25,1,121000012,13,15-04-01
9551,29C17AD34C4C8E276D12A4F496435715,07E6BCC4F226819F06D03168BA6B8EE4,Fountain,Fountain Drink 21 oz.,21oz Fountain Drink,20974,0,0.1113,1.33,0.27,1.60,1,212000126,280,15-03-22
28476,ECAC2D00E2B6672802EBCBCB4BDF55B7,D718F174D7329ED493DE16D75C86DB5C,Footlong,Footlong Sub,Rst Chicken FtLong,4904,0,0.5737,6.75,0.00,6.75,1,111000010,80,15-04-10
60367,CD07EF8B9B249CC397467355C95CB4DD,A86021E6A8B4D1B7736E31B50F4FC8BE,Footlong,Footlong Sub,Chicken Bcn Ranch FtLong,12631,0,0.0000,0.00,7.25,7.25,1,111000021,38,15-05-12
46768,F7778D67BB13B6E2E3A2B4DE1BCCFD27,180F8BE0033B4E240751694B86B14F8F,Bottled Beverage,Bottled Drink,Bottled Carbonated Drink,20974,0,0.1499,1.79,0.01,1.80,1,221000133,279,15-04-28

In [109]:
df = pd.read_csv('pos_ordersale.csv') # bringing in 'pos_ordersale.csv' for inspection
df.shape
df.dtypes # data types appear formatted correctly
df.duplicated().value_counts() # no duplicates
df.isna().sum() # no null values
df['StoreNumber'].value_counts().sum() # 43228 store values so all there even though the raw .csv doesn't display values in IDE
df.sample(10) # file does not appear to need to be altered

,MD5KEY_ORDERSALE,ChangeReceived,OrderNumber,TaxInclusiveAmount,TaxAmount,MealLocation,TransactionId,StoreNumber,date
28712,5338C1B71BAE9047619C4105B040B692,0.00,10935,0,0.70,0,10935,4904,15-05-12
38838,7E0CFFE898CB12464A5CEF687890CFC8,9.62,14590,0,0.13,1,14590,4904,15-06-05
3492,C83677FFC39812B4658F15BC596853DE,0.12,988,0,0.38,0,988,4904,15-03-17
5266,759001D5C161297ED7C826B7A95E2461,0.00,1732,0,0.00,1,1732,4904,15-03-22
31128,F705AE3F3EFF4EFB545E72CCE5F5BABD,0.00,5540,0,0.90,0,5540,20974,15-05-17
36766,E53E83BBD354AD4FF7409FF3C09025A3,1.96,6136,0,0.19,1,6136,46673,15-05-31
11326,59653CC197F113C8C705DE7135243F6F,0.19,2229,0,0.81,0,2229,46673,15-04-05
22509,BA8E0E0BE58D95C3F1AFB2DE1F37D621,0.00,8579,0,0.34,0,8579,4904,15-04-28
26019,36D190C07ECDAE1687CEE6D432CC16D9,13.50,4516,0,0.50,0,4516,20974,15-05-06
16049,1F181F0744B051C4351C8347E53B2107,14.01,2999,0,0.54,0,2999,46673,15-04-15

In [114]:
df = pd.read_csv('sub_recipes.csv')
df.shape
df.dtypes # data types appear formatted correctly 
df.duplicated().value_counts() # no duplicates  
df.isna().sum() # no null values
df.sample(10) # file does not appear to need to be altered, although both columns are similar will keep both as some slight differences

,SubRecipeName,SubRecipeDescription,SubRecipeId
3,Std 6 Inch Flatbread bread,Std 6 Inch Flatbread bread,4
27,Std Breakfast 3 inch Flatbread Liquid Egg,Std Bkfst 3 inch Flatbread Liquid Egg Omelet,28
44,Std Subway To Go! Footlong,Std Subway To Go! Footlong,45
52,Vegetables - Singapore Metric,Vegetables - Singapore Metric,53
40,Std Salad Lettuce & Bowl - Metric,Std Salad Lettuce & Bowl - Metric,41
36,Std Wrap Bread,Std Wrap Bread,37
75,Std Breakfast Footlong bread & egg - Asia,Std Breakfast Footlong bread & egg - Asia,78
11,Sauces,"Sauces, core sauces",12
74,Std Footlong Flatbread - Asia,Std Footlong Flatbread - Asia,76
55,Std Footlong Flatbread Bread-Bahamas,Std Footlong Flatbread Bread-Bahamas,56

In [138]:
df = pd.read_csv('sub_recipe_ingr_assignments.csv')
df.shape
df.dtypes # data types appear formatted correctly 
df.duplicated().value_counts() # no duplicates
df.isna().sum() # no null values
df.head() # quantity for some sub recpies is 0 which I am going to assume is because it is not atleast '1' of that instead a portion is used

   SubRecipeId  IngredientId  Quantity
0            1             1         1
1            1           135         2
2            1           138         1
3            1           146         1
4            1           157         1

In [148]:
df = pd.read_csv('store_restaurant.csv')
df.shape
df.dtypes # data types appear formatted correctly 
df.drop(columns=['STORE_ADDRESS2'], inplace=True) # removed store adress2 as it's redundant
df.to_csv('store_restaurant.csv', index=False)

In [166]:
df = pd.read_csv('recipes.csv')
df.shape
df.dtypes # data types appear formatted correctly 
df.duplicated().value_counts() # no duplicates 
df.isna().sum() # no null values 
df.head()

# for index, row in df.iterrows():
#     if (row == '#NAME?').any():
#         print(f"Row {index} has '#NAME?' as name in recipes:")
#         print(row) # clearly a lot of the RecipeNames don't have a useful name

df.drop(columns=['RecipeName'], inplace=True)
df

for index, row in df.iterrows():
    if (row == '#NAME?').any():
        print(f"Row {index} has '#NAME?' as name in recipes:")
        print(row) 

print('done') # no other Excel name errors

df.to_csv('recipes.csv', index=False)

KeyError: "['RecipeName'] not found in axis"

In [176]:
df = pd.read_csv('recipe_ingredient_assignments.csv')
df.shape
df.dtypes # data types appear formatted correctly
df.duplicated().value_counts() # no duplicates
df.isna().sum() # no null values
df.sample(10) # file does not appear to need to be altered

       RecipeId  IngredientId  Quantity
10519      5670           282       142
9534       4950           321        28
1257        676             8         5
2713       1387           323         0
8161       4315           289       113
1847        981            26         0
10308      5378           564         2
3350       1746           295        54
11562      6616           426         1
348         211             9         1

In [186]:
df = pd.read_csv('recipe_sub_recipe_assignments.csv')
df.shape
df.dtypes # data types appear formatted correctly 
df.duplicated().value_counts() # no duplicates
df.isna().sum() # no null values
df.sample(50) # decided to keep factors even when they are 0 as they should not affect analysis I want to perform (may change to 1 later)

       RecipeId  SubRecipeId  Factor
5474       2882           10       1
8874       4838           35       1
3613       1768           49       1
616         217           10       0
6984       3905            5       1
12913      8531           42       1
7438       4167           41       1
5540       2914           12       1
4952       2604           41       1
6529       3618           48       1
307         100            9       0
5366       2816            5       1
3086       1508           49       1
530         188           21       1
7528       4217           35       1
13124      8705           35       1
9049       4945           35       1
7112       3994            3       1
9274       5084           11       1
6416       3514           45       1
10621      6218           35       1
11945      7711           35       1
6645       3687           51       1
6619       3673           11       1
5562       2921           43       0
9231       5069           42       1
6703       3711            5       1
12310      8037           12       1
9741       5293           35       1
10841      6404           44       1
3153       1543            9       0
5537       2910           38       1
545         196            9       0
7824       4426            4       1
9967       5379            4       1
7284       4094           42       1
7712       4361           51       1
3614       1769            3       1
12671      8333            9       1
8369       4601           65       1
7769       4388            9       0
5529       2906           38       1
8756       4775           35       1
9641       5260           22       1
4806       2501           35       1
3089       1509           49       1
335         108            9       1
8934       4871           35       1
9814       5317           42       1
12489      8179           12       1